<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
<aop:aspectj-autoproxy />
<!-- /***************Service类*******************/ -->
<bean id="categoryService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.CategoryService</value>
	</property>
	<property name="target">
		<ref bean="categoryServiceImpl"/>	
	</property>
</bean>
<bean name="categoryServiceImpl" class="com.gah.navigation.service.impl.CategoryServiceImpl" scope="prototype">
	<property name="categoryDao">
		<ref bean="categoryDao"/>
	</property>
</bean>

<bean id="gameService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.GameService</value>
	</property>
	<property name="target">
		<ref bean="gameServiceImpl"/>	
	</property>
</bean>
<bean name="gameServiceImpl" class="com.gah.navigation.service.impl.GameServiceImpl" scope="prototype">
	<property name="gameDao">
		<ref bean="gameDao"/>
	</property>
</bean>


<bean id="managerService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.ManagerService</value>
	</property>
	<property name="target">
		<ref bean="managerServiceImpl"/>	
	</property>
</bean>
<bean name="managerServiceImpl" class="com.gah.navigation.service.impl.ManagerServiceImpl" scope="prototype">
	<property name="managerDao">
		<ref bean="managerDao"/>
	</property>
</bean>

<bean id="storeService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.StoreService</value>
	</property>
	<property name="target">
		<ref bean="storeServiceImpl"/>	
	</property>
</bean>
<bean name="storeServiceImpl" class="com.gah.navigation.service.impl.StoreServiceImpl" scope="prototype">
	<property name="storeDao">
		<ref bean="storeDao"/>
	</property>
</bean>

<bean id="releaseService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.ReleaseService</value>
	</property>
	<property name="target">
		<ref bean="releaseServiceImpl"/>	
	</property>
</bean>
<bean name="releaseServiceImpl" class="com.gah.navigation.service.impl.ReleaseServiceImpl" scope="prototype">
	<property name="releaseDao">
		<ref bean="releaseDao"/>
	</property>
</bean>

<bean id="pictureService" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
	<property name="proxyInterfaces">
		<value>com.gah.navigation.service.PictureService</value>
	</property>
	<property name="target">
		<ref bean="pictureServiceImpl"/>	
	</property>
</bean>
<bean name="pictureServiceImpl" class="com.gah.navigation.service.impl.PictureServiceImpl" scope="prototype">
	<property name="pictureDao">
		<ref bean="pictureDao"/>
	</property>
</bean>
</beans>